listagem.jade
extends views/layout

block body


  section#breadcrumbs
    .row: .small-12.column: nav.breadcrumbs
      a(href="") Home
      a(href="") Home
      a.current(href="") Home


  section#listagem

    .row
      .small-12.column
        #header-loja
          .logo: img(src="img/logo-loja.png")
          .banner: img(src="img/banner-loja.jpg")




    .row
      .medium-4.column.show-for-medium-up
        #side-nav
          h2 Navegue Por

          h3 Preço

          .filtro-form

            .row
              .small-4.column
                label(for="right-label").right.inline De

              .small-8.column
                input(type="text", placeholder="R$ 9,99")

            .row
              .small-4.column
                label(for="right-label").right.inline Até

              .small-8.column
                input(type="text", placeholder="R$ 9,99")

            .row
              .small-12.text-right.column
                a(href=""): img(src="img/btn-filtro.png")

          h3 Mulheres

          .filtro-tree
            ul
              li.open
                a(href="") Vestuário <strong>(598)</strong>
                ul
                  li: a(href="") Vestidos <strong>(98)</strong>
                  li: a(href="") Jaquetas e Casacos <strong>(8)</strong>
                  li: a(href="") Blusas e Camisas <strong>(98)</strong>
                  li: a(href="") Tops e Camisetas <strong>(8)</strong>
                  li: a(href="") Moletons <strong>(98)</strong>
                  li: a(href="") Moda íntima <strong>(8)</strong>
                  li: a(href="") Suéter <strong>(98)</strong>
                  li: a(href="") Roupa de banho <strong>(8)</strong>
                  li: a(href="") Leggins e calça <strong>(98)</strong>

              li
                a(href="") Acessórios <strong>(598)</strong>

                ul
                  li: a(href="") Vestidos <strong>(98)</strong>
                  li: a(href="") Jaquetas e Casacos <strong>(8)</strong>
                  li: a(href="") Blusas e Camisas <strong>(98)</strong>
                  li: a(href="") Tops e Camisetas <strong>(8)</strong>
                  li: a(href="") Moletons <strong>(98)</strong>
                  li: a(href="") Moda íntima <strong>(8)</strong>
                  li: a(href="") Suéter <strong>(98)</strong>
                  li: a(href="") Roupa de banho <strong>(8)</strong>
                  li: a(href="") Leggins e calça <strong>(98)</strong>

                li
                  a(href="") Calçados <strong>(598)</strong>

                li
                  a(href="") Vestuário <strong>(598)</strong>


          h3 Lojas

          .filtro-list
            ul
              li: a(href="") Marisa (98)
              li: a(href="") Mariquinha Shop (98)
              li: a(href="") Random Noise (98)
              li: a(href="") Marisa (98)
              li: a(href="") Mariquinha Shop (98)
              li: a(href="") Random Noise (98)

          h3 Marcas

          .filtro-list
            ul
              li: a(href="") Marisa (98)
              li: a(href="") Mariquinha Shop (98)
              li: a(href="") Random Noise (98)
              li: a(href="") Marisa (98)
              li: a(href="") Mariquinha Shop (98)
              li: a(href="") Random Noise (98)








      .small-12.medium-8.column
        .row.navigation
          .nav-filter.medium-8.column
            span.filtro
              label Ítens por página
              .input
                select
                  option 18
                  option 26

            span |

            span.filtro

              label Organizar por
              .input
                select
                  option Preço
                  option Título


          .nav-pagination.medium-4.column
            .pagination-centered
              ul.pagination
                li.current: a(href="") 1
                li: a(href="") 2
                li: a(href="") 3
                li: a(href="") 4
                li: a(href="") 5
                li.arrow: a(href="") &gt;

        .row.number-results
          .medium-12.column Mostrando 18 de 450

        .row.listagem
          .small-12.column
            ul.small-block-grid-1.medium-block-grid-2
              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")


              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")


            .publicidade: a(href=""): img(data-interchange="[http://placehold.it/600x120,(default)],[http://placehold.it/640x80,(medium)]")

            ul.small-block-grid-1.medium-block-grid-2

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")


        .row.navigation.bottom
          .nav-filter.medium-8.column
            span.filtro
              label Ítens por página
              .input
                select
                  option 18
                  option 26

            span |

            span.filtro

              label Organizar por
              .input
                select
                  option Preço
                  option Título


          .nav-pagination.medium-4.column
            .pagination-centered
              ul.pagination
                li.current: a(href="") 1
                li: a(href="") 2
                li: a(href="") 3
                li: a(href="") 4
                li: a(href="") 5
                li.arrow: a(href="") &gt;

listagem.html
<!DOCTYPE html>
<html lang="pt_BR" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDL Shopping</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body class="antialiased">
    <header class="hide-for-large-up">
      <div class="sticky">
        <nav data-topbar data-options="custom_back_text: false; mobile_show_parent_link: false" class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1><a href="javascript:void(0)"><img src="img/logo-small.png"></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="javascript:void(0)"><span>&nbsp;</span></a></li>
            <li class="navi">
              <ul>
                <li><a href="javascript:void(0)" id="search-small-btn"><i class="icon-search"></i></a></li>
                <li><a href="#"><i class="icon-cart"></i><span class="count-cart">3</span></a></li>
                <li><a href="javascript:void(0)" id="profile-small-btn"><i class="icon-person"></i></a></li>
              </ul>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li class="active"><a href="#">Menu</a></li>
              <li><a href="#">Menu 2</a></li>
              <li><a href="#">Menu 2</a></li>
              <li class="has-dropdown"><a href="javascript:void(0)">Menu 3</a>
                <ul class="dropdown">
                  <li><a href="#">Dropdown 1</a></li>
                  <li><a href="#">Dropdown 2</a></li>
                  <li><a href="#">Dropdown 3</a></li>
                </ul>
              </li>
            </ul>
          </section>
        </nav>
        <div id="search-small" class="hide"><i class="icon-arr-up"></i>
          <label>O que você está procurando?</label>
          <input type="search" placeholder="faça sua busca">
        </div>
        <div id="profile-small" class="hide"><i class="icon-arr-up"></i>
          <label>Faça o seu login!</label>
          <input type="email" placeholder="EMAIL">
          <input type="password" placeholder="SENHA">
          <button type="submit" class="small expand">ENTRAR</button>
          <div class="helpers">
            <div class="title">Ainda não possui uma conta?</div>
            <div class="link"><a href="#">Cadastre-se</a></div>
            <div class="title">Esqueci minha senha!</div>
            <div class="link"><a href="#">Resgate de senha</a></div>
          </div>
        </div>
      </div>
    </header>
    <header class="show-for-large-up">
      <div class="row">
        <div class="large-12 column">
          <nav class="top-nav">
            <section class="left"><span>Você está vendo lojas de</span>
              <div class="city-selector">
                <div class="selected">Florianópolis</div>
                <div class="options">
                  <div class="option">São José</div>
                  <div class="option">Palhoça</div>
                  <div class="option">Biguaçu</div>
                  <div class="option">Curitiba</div>
                  <div class="option">São Paulo</div>
                </div>
              </div>
            </section>
            <section class="right"><a href="">Painel do Lojista</a><a href="" class="green-top-button">Abra sua Loja</a></section>
          </nav>
        </div>
      </div>
      <div class="container">
        <div class="row title-area">
          <div class="large-4 column"><a href="#"><img src="img/logo.png"></a></div>
          <div class="large-5 column search-area">
            <ul class="inline-list search-menu">
              <li><a href="">Meu Cadastro</a></li>
              <li><i class="icon-bullet"></i></li>
              <li><a href="">Meus Pedidos</a></li>
              <li><i class="icon-bullet"></i></li>
              <li><a href="">Central de Atendimento</a></li>
            </ul>
            <form action="" method="" class="search-form">
              <input type="search" placeholder="Faça sua busca..." class="search-input">
              <input type="image" src="img/btn-search.png" class="search-btn">
            </form>
          </div>
          <div class="large-3 column text-right"><a href="#" class="button small cart-button"><i class="icon-mini-cart"></i><span>Meu Carrinho (2)</span></a></div>
        </div>
      </div>
      <div class="container top-menu-container">
        <div class="row large-12">
          <nav class="top-menu">
            <ul>
              <li><a href="">Mulheres</a></li>
              <li><a href="">Homens</a></li>
              <li><a href="">Crianças</a></li>
              <li><a href="">Bebês</a></li>
              <li><a href="">Casa e Decoração</a>
                <div class="dropdown">
                  <div class="left">
                    <div class="category-title"><img src="img/category-icon.png"><span>Casa e Decoração</span></div>
                    <ul class="subcategories">
                      <li><a href="">Ambientes</a>
                        <ul class="sub-items">
                          <li><a href="">Banheiro</a></li>
                          <li><a href="">Cozinha</a></li>
                          <li><a href="">Escritório</a></li>
                          <li><a href="">Infantil</a></li>
                          <li><a href="">Sala de Estar</a></li>
                          <li><a href="">Sala de Jantar</a></li>
                          <li><a href="">Varanda</a></li>
                        </ul>
                      </li>
                      <li><a href="">Móveis</a>
                        <ul class="sub-items">
                          <li><a href="">Araras</a></li>
                          <li><a href="">Estantes</a></li>
                          <li><a href="">Bancos</a></li>
                          <li><a href="">Mesas</a></li>
                          <li><a href="">Cadeiras</a></li>
                          <li><a href="">Sofás</a></li>
                          <li><a href="">Poltronas</a></li>
                          <li><a href="">Racks</a></li>
                          <li><a href="">Puffs</a></li>
                          <li><a href="">Prateleiras</a></li>
                        </ul>
                      </li>
                      <li><a href="">Decoração</a>
                        <ul class="sub-items">
                          <li><a href="">Adesivos</a></li>
                          <li><a href="">Almofadas</a></li>
                          <li><a href="">Bandejas</a></li>
                          <li><a href="">Porta-retratos</a></li>
                          <li><a href="">Cerâmica</a></li>
                          <li><a href="">Vasos</a></li>
                        </ul>
                      </li>
                      <li><a href="">Utilidades</a>
                        <ul class="sub-items">
                          <li><a href="">Canecas</a></li>
                          <li><a href="">Copos</a></li>
                          <li><a href="">Jarras</a></li>
                          <li><a href="">Xícaras</a></li>
                          <li><a href="">Taças</a></li>
                          <li><a href="">Aparelhos de Jantar</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="right"><img src="http://placehold.it/335x390&amp;text=Área+para+foto"></div>
                </div>
              </li>
              <li><a href="">Informática e Eletrônicos</a></li>
              <li><a href="">Beleza e Saúde</a></li>
              <li><a href="">Diversão e Cultura</a></li>
              <li><a href="">Alimentos e Bebidas</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <section id="breadcrumbs">
      <div class="row">
        <div class="small-12 column">
          <nav class="breadcrumbs"><a href="">Home</a><a href="">Home</a><a href="" class="current">Home</a></nav>
        </div>
      </div>
    </section>
    <section id="listagem">
      <div class="row">
        <div class="small-12 column">
          <div id="header-loja">
            <div class="logo"><img src="img/logo-loja.png"></div>
            <div class="banner"><img src="img/banner-loja.jpg"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 column show-for-medium-up">
          <div id="side-nav">
            <h2>Navegue Por</h2>
            <h3>Preço</h3>
            <div class="filtro-form">
              <div class="row">
                <div class="small-4 column">
                  <label for="right-label" class="right inline">De</label>
                </div>
                <div class="small-8 column">
                  <input type="text" placeholder="R$ 9,99">
                </div>
              </div>
              <div class="row">
                <div class="small-4 column">
                  <label for="right-label" class="right inline">Até</label>
                </div>
                <div class="small-8 column">
                  <input type="text" placeholder="R$ 9,99">
                </div>
              </div>
              <div class="row">
                <div class="small-12 text-right column"><a href=""><img src="img/btn-filtro.png"></a></div>
              </div>
            </div>
            <h3>Mulheres</h3>
            <div class="filtro-tree">
              <ul>
                <li class="open"><a href="">Vestuário <strong>(598)</strong></a>
                  <ul>
                    <li><a href="">Vestidos <strong>(98)</strong></a></li>
                    <li><a href="">Jaquetas e Casacos <strong>(8)</strong></a></li>
                    <li><a href="">Blusas e Camisas <strong>(98)</strong></a></li>
                    <li><a href="">Tops e Camisetas <strong>(8)</strong></a></li>
                    <li><a href="">Moletons <strong>(98)</strong></a></li>
                    <li><a href="">Moda íntima <strong>(8)</strong></a></li>
                    <li><a href="">Suéter <strong>(98)</strong></a></li>
                    <li><a href="">Roupa de banho <strong>(8)</strong></a></li>
                    <li><a href="">Leggins e calça <strong>(98)</strong></a></li>
                  </ul>
                </li>
                <li><a href="">Acessórios <strong>(598)</strong></a>
                  <ul>
                    <li><a href="">Vestidos <strong>(98)</strong></a></li>
                    <li><a href="">Jaquetas e Casacos <strong>(8)</strong></a></li>
                    <li><a href="">Blusas e Camisas <strong>(98)</strong></a></li>
                    <li><a href="">Tops e Camisetas <strong>(8)</strong></a></li>
                    <li><a href="">Moletons <strong>(98)</strong></a></li>
                    <li><a href="">Moda íntima <strong>(8)</strong></a></li>
                    <li><a href="">Suéter <strong>(98)</strong></a></li>
                    <li><a href="">Roupa de banho <strong>(8)</strong></a></li>
                    <li><a href="">Leggins e calça <strong>(98)</strong></a></li>
                  </ul>
                  <li><a href="">Calçados <strong>(598)</strong></a></li>
                  <li><a href="">Vestuário <strong>(598)</strong></a></li>
                </li>
              </ul>
            </div>
            <h3>Lojas</h3>
            <div class="filtro-list">
              <ul>
                <li><a href="">Marisa (98)</a></li>
                <li><a href="">Mariquinha Shop (98)</a></li>
                <li><a href="">Random Noise (98)</a></li>
                <li><a href="">Marisa (98)</a></li>
                <li><a href="">Mariquinha Shop (98)</a></li>
                <li><a href="">Random Noise (98)</a></li>
              </ul>
            </div>
            <h3>Marcas</h3>
            <div class="filtro-list">
              <ul>
                <li><a href="">Marisa (98)</a></li>
                <li><a href="">Mariquinha Shop (98)</a></li>
                <li><a href="">Random Noise (98)</a></li>
                <li><a href="">Marisa (98)</a></li>
                <li><a href="">Mariquinha Shop (98)</a></li>
                <li><a href="">Random Noise (98)</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="small-12 medium-8 column">
          <div class="row navigation">
            <div class="nav-filter medium-8 column"><span class="filtro">
                <label>Ítens por página</label>
                <div class="input">
                  <select>
                    <option>18</option>
                    <option>26</option>
                  </select>
                </div></span><span>|</span><span class="filtro">
                <label>Organizar por</label>
                <div class="input">
                  <select>
                    <option>Preço</option>
                    <option>Título</option>
                  </select>
                </div></span></div>
            <div class="nav-pagination medium-4 column">
              <div class="pagination-centered">
                <ul class="pagination">
                  <li class="current"><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                  <li class="arrow"><a href="">&gt;</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row number-results">
            <div class="medium-12 column">Mostrando 18 de 450</div>
          </div>
          <div class="row listagem">
            <div class="small-12 column">
              <ul class="small-block-grid-1 medium-block-grid-2">
                <li class="produto">
                  <div class="produto-box">
                    <div class="img"><img src="img/sapato.png"></div>
                    <div class="detalhes">
                      <div class="nome">Sapato em Couro Preto</div>
                      <div class="loja"><a href="">Sapataria do Homem</a></div>
                      <div class="clearfix">
                        <div class="left">
                          <div class="preco">R$ 30,00</div>
                          <div class="parcelado">3x de R$ 10,00</div>
                        </div>
                        <div class="right"><a href=""><img src="img/btn-buy.png"></a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="produto">
                  <div class="produto-box">
                    <div class="img"><img src="img/sapato.png"></div>
                    <div class="detalhes">
                      <div class="nome">Sapato em Couro Preto</div>
                      <div class="loja"><a href="">Sapataria do Homem</a></div>
                      <div class="clearfix">
                        <div class="left">
                          <div class="preco">R$ 30,00</div>
                          <div class="parcelado">3x de R$ 10,00</div>
                        </div>
                        <div class="right"><a href=""><img src="img/btn-buy.png"></a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="produto">
                  <div class="produto-box">
                    <div class="img"><img src="img/sapato.png"></div>
                    <div class="detalhes">
                      <div class="nome">Sapato em Couro Preto</div>
                      <div class="loja"><a href="">Sapataria do Homem</a></div>
                      <div class="clearfix">
                        <div class="left">
                          <div class="preco">R$ 30,00</div>
                          <div class="parcelado">3x de R$ 10,00</div>
                        </div>
                        <div class="right"><a href=""><img src="img/btn-buy.png"></a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="produto">
                  <div class="produto-box">
                    <div class="img"><img src="img/sapato.png"></div>
                    <div class="detalhes">
                      <div class="nome">Sapato em Couro Preto</div>
                      <div class="loja"><a href="">Sapataria do Homem</a></div>
                      <div class="clearfix">
                        <div class="left">
                          <div class="preco">R$ 30,00</div>
                          <div class="parcelado">3x de R$ 10,00</div>
                        </div>
                        <div class="right"><a href=""><img src="img/btn-buy.png"></a></div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="publicidade"><a href=""><img data-interchange="[http://placehold.it/600x120,(default)],[http://placehold.it/640x80,(medium)]"></a></div>
              <ul class="small-block-grid-1 medium-block-grid-2">
                <li class="produto">
                  <div class="produto-box">
                    <div class="img"><img src="img/sapato.png"></div>
                    <div class="detalhes">
                      <div class="nome">Sapato em Couro Preto</div>
                      <div class="loja"><a href="">Sapataria do Homem</a></div>
                      <div class="clearfix">
                        <div class="left">
                          <div class="preco">R$ 30,00</div>
                          <div class="parcelado">3x de R$ 10,00</div>
                        </div>
                        <div class="right"><a href=""><img src="img/btn-buy.png"></a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="produto">
                  <div class="produto-box">
                    <div class="img"><img src="img/sapato.png"></div>
                    <div class="detalhes">
                      <div class="nome">Sapato em Couro Preto</div>
                      <div class="loja"><a href="">Sapataria do Homem</a></div>
                      <div class="clearfix">
                        <div class="left">
                          <div class="preco">R$ 30,00</div>
                          <div class="parcelado">3x de R$ 10,00</div>
                        </div>
                        <div class="right"><a href=""><img src="img/btn-buy.png"></a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="produto">
                  <div class="produto-box">
                    <div class="img"><img src="img/sapato.png"></div>
                    <div class="detalhes">
                      <div class="nome">Sapato em Couro Preto</div>
                      <div class="loja"><a href="">Sapataria do Homem</a></div>
                      <div class="clearfix">
                        <div class="left">
                          <div class="preco">R$ 30,00</div>
                          <div class="parcelado">3x de R$ 10,00</div>
                        </div>
                        <div class="right"><a href=""><img src="img/btn-buy.png"></a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="produto">
                  <div class="produto-box">
                    <div class="img"><img src="img/sapato.png"></div>
                    <div class="detalhes">
                      <div class="nome">Sapato em Couro Preto</div>
                      <div class="loja"><a href="">Sapataria do Homem</a></div>
                      <div class="clearfix">
                        <div class="left">
                          <div class="preco">R$ 30,00</div>
                          <div class="parcelado">3x de R$ 10,00</div>
                        </div>
                        <div class="right"><a href=""><img src="img/btn-buy.png"></a></div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row navigation bottom">
            <div class="nav-filter medium-8 column"><span class="filtro">
                <label>Ítens por página</label>
                <div class="input">
                  <select>
                    <option>18</option>
                    <option>26</option>
                  </select>
                </div></span><span>|</span><span class="filtro">
                <label>Organizar por</label>
                <div class="input">
                  <select>
                    <option>Preço</option>
                    <option>Título</option>
                  </select>
                </div></span></div>
            <div class="nav-pagination medium-4 column">
              <div class="pagination-centered">
                <ul class="pagination">
                  <li class="current"><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                  <li class="arrow"><a href="">&gt;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="show-for-medium-up">
      <div class="row steps">
        <div class="medium-12 column">
          <h3 class="title-steps">Como <strong>Comprar</strong> no shopping
            <div class="img-steps"><img src="img/steps.png"></div>
          </h3>
        </div>
      </div>
      <div class="row institucional">
        <div class="medium-12 large-8 column">
          <div class="clearfix inst-block-container">
            <div class="inst-block left">
              <div class="inst-title">O CDL <br /> SHOPPING</div>
              <ul class="inst-list">
                <li><a href="">Sobre</a></li>
                <li><a href="">Tenha a sua loja</a></li>
                <li><a href="">Diga-nos o que você acha</a></li>
                <li><a href="">Na mídia</a></li>
                <li><a href="">Termos de uso</a></li>
              </ul>
            </div>
            <div class="inst-block left">
              <div class="inst-title">Serviço de apoio <br />ao consumidor</div>
              <ul class="inst-list">
                <li><a href="">Entre em contato</a></li>
                <li><a href="">Perguntas Frequentes</a></li>
                <li><a href="">Proteção ao Consumidor</a></li>
                <li><a href="">Assine nossa Newsletter</a></li>
                <li><a href="">Minha Conta</a></li>
              </ul>
            </div>
            <div class="inst-block left">
              <div class="inst-title">Redes <br /> Sociais</div>
              <ul class="inst-list social">
                <li><a href=""><img src="img/facebook.png" /> Facebook</a></li>
                <li><a href=""><img src="img/youtube.png" /> You Tube</a></li>
                <li><a href=""><img src="img/twitter.png" /> Twitter</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="medium-6 column"><a href=""><img src="img/logo.png"></a></div>
            <div class="medium-6 column footer-desc">
              O shopping cdl é uma parceria entre
              lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam non.
            </div>
          </div>
        </div>
        <div class="large-4 column show-for-large-up">
          <div class="note">
            <div class="tape"></div>
            <div class="note-social-embeed"><iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FCDLShopping&amp;width&amp;height=346&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=419655808071325" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:346px;" allowtransparency="true"></iframe></div>
          </div>
        </div>
      </div>
      <div class="container-footer">
        <div class="row">
          <div class="column medium-12 clearfix">
            <div class="left"><img data-interchange="[img/pagamento-small.png,(default)], [img/pagamento-large.png,(large)]"></div>
            <div class="left navegue">
              <label>Navegue pelas lojas por aqui:
                <div class="city-selector">
                  <div class="selected">Florianópolis</div>
                  <div class="options">
                    <div class="option">São José</div>
                    <div class="option">Palhoça</div>
                    <div class="option">Biguaçu</div>
                    <div class="option">Curitiba</div>
                    <div class="option">São Paulo</div>
                  </div>
                </div>
              </label>
            </div>
            <div class="right"><img src="img/apoio-cdl.png"></div>
          </div>
        </div>
      </div>
    </footer>
    <footer class="show-for-small-only">
      <div class="row bottom-space">
        <div class="small-12 column text-center"><a href=""><img src="img/logo.png"></a></div>
      </div>
      <div class="row bottom-space social-networks">
        <div class="small-12 column text-center"><a href="" class="space-sides"><img src="img/facebook.png"></a><a href="" class="space-sides"><img src="img/youtube.png"></a><a href="" class="space-sides"><img src="img/twitter.png"></a></div>
      </div>
      <div class="row bottom-space navegue">
        <div class="small-12 column">
          <label>Navegue pelas lojas por aqui:
            <div class="city-selector">
              <div class="selected">Florianópolis</div>
              <div class="options">
                <div class="option">São José</div>
                <div class="option">Palhoça</div>
                <div class="option">Biguaçu</div>
                <div class="option">Curitiba</div>
                <div class="option">São Paulo</div>
              </div>
            </div>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column text-center">
          <div class="bottom-space"><img src="img/pagamento-small.png"></div>
          <div class="bottom-space"><img src="img/apoio-cdl.png"></div>
        </div>
      </div>
    </footer>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/cardcheck.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
