sobre.jade
extends views/layout

block body
  .body-content
    section#page-title.inst-title
      .row: .small-12.column: h1 Sobre

    section.main-area#sobre
      .row
        .large-6.column
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum dolor sit amet mauris commodo, ac hendrerit lacus interdum. Etiam mollis leo et congue cursus. Etiam pulvinar nibh et lacus porttitor, id feugiat purus viverra. Vivamus ac elit leo. Vestibulum elementum feugiat dui, in ornare est bibendum sit amet. Phasellus at sapien in turpis dapibus viverra vitae non turpis. Phasellus et magna enim. Etiam at consequat turpis, vitae egestas orci. Nam consectetur tellus arcu.
          p Pellentesque feugiat volutpat leo ac porttitor. Donec vel nibh id risus dictum iaculis. Nullam lobortis erat magna, eu interdum eros suscipit nec. Sed hendrerit congue neque eget venenatis. Suspendisse facilisis felis sed vulputate auctor. Phasellus et velit ullamcorper, viverra nibh vel, molestie neque. Donec pretium eros non nunc pulvinar aliquet.

        .large-6.column
          .text-center
            img.sobre-top(src="img/logo.png")

      .row
        .medium-4.column
          #side-nav.guia
            h2 Guia de como comprar

            ul.sobre-nav
              li.current: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar

          #side-nav.cdl
            h2 O <strong>CDL</strong> Shopping

            ul.sobre-nav
              li.current: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar

        .medium-8.column
          .box
            h3 Como Buscar Produtos

            .content

              .n-circle.current 1
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum dolor sit amet mauris commodo, ac hendrerit lacus interdum. Etiam mollis leo et congue cursus.

              img(src="img/banner-como-1.jpg")

sobre.html
<!DOCTYPE html>
<html lang="pt_BR" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDL Shopping</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body class="antialiased">
    <header class="hide-for-large-up">
      <div class="sticky">
        <nav data-topbar data-options="custom_back_text: false; mobile_show_parent_link: false" class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1><a href="javascript:void(0)"><img src="img/logo-small.png"></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="javascript:void(0)"><span>&nbsp;</span></a></li>
            <li class="navi">
              <ul>
                <li><a href="javascript:void(0)" id="search-small-btn"><i class="icon-search"></i></a></li>
                <li><a href="#"><i class="icon-cart"></i><span class="count-cart">3</span></a></li>
                <li><a href="javascript:void(0)" id="profile-small-btn"><i class="icon-person"></i></a></li>
              </ul>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li class="active"><a href="#">Menu</a></li>
              <li><a href="#">Menu 2</a></li>
              <li><a href="#">Menu 2</a></li>
              <li class="has-dropdown"><a href="javascript:void(0)">Menu 3</a>
                <ul class="dropdown">
                  <li><a href="#">Dropdown 1</a></li>
                  <li><a href="#">Dropdown 2</a></li>
                  <li><a href="#">Dropdown 3</a></li>
                </ul>
              </li>
            </ul>
          </section>
        </nav>
        <div id="search-small" class="hide"><i class="icon-arr-up"></i>
          <label>O que você está procurando?</label>
          <input type="search" placeholder="faça sua busca">
        </div>
        <div id="profile-small" class="hide"><i class="icon-arr-up"></i>
          <label>Faça o seu login!</label>
          <input type="email" placeholder="EMAIL">
          <input type="password" placeholder="SENHA">
          <button type="submit" class="small expand">ENTRAR</button>
          <div class="helpers">
            <div class="title">Ainda não possui uma conta?</div>
            <div class="link"><a href="#">Cadastre-se</a></div>
            <div class="title">Esqueci minha senha!</div>
            <div class="link"><a href="#">Resgate de senha</a></div>
          </div>
        </div>
      </div>
    </header>
    <header class="show-for-large-up">
      <div class="row">
        <div class="large-12 column">
          <nav class="top-nav">
            <section class="left"><span>Você está vendo lojas de</span>
              <div class="city-selector">
                <div class="selected">Florianópolis</div>
                <div class="options">
                  <div class="option">São José</div>
                  <div class="option">Palhoça</div>
                  <div class="option">Biguaçu</div>
                  <div class="option">Curitiba</div>
                  <div class="option">São Paulo</div>
                </div>
              </div>
            </section>
            <section class="right"><a href="">Painel do Lojista</a><a href="" class="green-top-button">Abra sua Loja</a></section>
          </nav>
        </div>
      </div>
      <div class="container">
        <div class="row title-area">
          <div class="large-4 column"><a href="#"><img src="img/logo.png"></a></div>
          <div class="large-5 column search-area">
            <ul class="inline-list search-menu">
              <li><a href="">Meu Cadastro</a></li>
              <li><i class="icon-bullet"></i></li>
              <li><a href="">Meus Pedidos</a></li>
              <li><i class="icon-bullet"></i></li>
              <li><a href="">Central de Atendimento</a></li>
            </ul>
            <form action="" method="" class="search-form">
              <input type="search" placeholder="Faça sua busca..." class="search-input">
              <input type="image" src="img/btn-search.png" class="search-btn">
            </form>
          </div>
          <div class="large-3 column text-right"><a href="#" class="button small cart-button"><i class="icon-mini-cart"></i><span>Meu Carrinho (2)</span></a></div>
        </div>
      </div>
      <div class="container top-menu-container">
        <div class="row large-12">
          <nav class="top-menu">
            <ul>
              <li><a href="">Mulheres</a></li>
              <li><a href="">Homens</a></li>
              <li><a href="">Crianças</a></li>
              <li><a href="">Bebês</a></li>
              <li><a href="">Casa e Decoração</a>
                <div class="dropdown">
                  <div class="left">
                    <div class="category-title"><img src="img/category-icon.png"><span>Casa e Decoração</span></div>
                    <ul class="subcategories">
                      <li><a href="">Ambientes</a>
                        <ul class="sub-items">
                          <li><a href="">Banheiro</a></li>
                          <li><a href="">Cozinha</a></li>
                          <li><a href="">Escritório</a></li>
                          <li><a href="">Infantil</a></li>
                          <li><a href="">Sala de Estar</a></li>
                          <li><a href="">Sala de Jantar</a></li>
                          <li><a href="">Varanda</a></li>
                        </ul>
                      </li>
                      <li><a href="">Móveis</a>
                        <ul class="sub-items">
                          <li><a href="">Araras</a></li>
                          <li><a href="">Estantes</a></li>
                          <li><a href="">Bancos</a></li>
                          <li><a href="">Mesas</a></li>
                          <li><a href="">Cadeiras</a></li>
                          <li><a href="">Sofás</a></li>
                          <li><a href="">Poltronas</a></li>
                          <li><a href="">Racks</a></li>
                          <li><a href="">Puffs</a></li>
                          <li><a href="">Prateleiras</a></li>
                        </ul>
                      </li>
                      <li><a href="">Decoração</a>
                        <ul class="sub-items">
                          <li><a href="">Adesivos</a></li>
                          <li><a href="">Almofadas</a></li>
                          <li><a href="">Bandejas</a></li>
                          <li><a href="">Porta-retratos</a></li>
                          <li><a href="">Cerâmica</a></li>
                          <li><a href="">Vasos</a></li>
                        </ul>
                      </li>
                      <li><a href="">Utilidades</a>
                        <ul class="sub-items">
                          <li><a href="">Canecas</a></li>
                          <li><a href="">Copos</a></li>
                          <li><a href="">Jarras</a></li>
                          <li><a href="">Xícaras</a></li>
                          <li><a href="">Taças</a></li>
                          <li><a href="">Aparelhos de Jantar</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="right"><img src="http://placehold.it/335x390&amp;text=Área+para+foto"></div>
                </div>
              </li>
              <li><a href="">Informática e Eletrônicos</a></li>
              <li><a href="">Beleza e Saúde</a></li>
              <li><a href="">Diversão e Cultura</a></li>
              <li><a href="">Alimentos e Bebidas</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="body-content">
      <section id="page-title" class="inst-title">
        <div class="row">
          <div class="small-12 column">
            <h1>Sobre</h1>
          </div>
        </div>
      </section>
      <section id="sobre" class="main-area">
        <div class="row">
          <div class="large-6 column">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum dolor sit amet mauris commodo, ac hendrerit lacus interdum. Etiam mollis leo et congue cursus. Etiam pulvinar nibh et lacus porttitor, id feugiat purus viverra. Vivamus ac elit leo. Vestibulum elementum feugiat dui, in ornare est bibendum sit amet. Phasellus at sapien in turpis dapibus viverra vitae non turpis. Phasellus et magna enim. Etiam at consequat turpis, vitae egestas orci. Nam consectetur tellus arcu.</p>
            <p>Pellentesque feugiat volutpat leo ac porttitor. Donec vel nibh id risus dictum iaculis. Nullam lobortis erat magna, eu interdum eros suscipit nec. Sed hendrerit congue neque eget venenatis. Suspendisse facilisis felis sed vulputate auctor. Phasellus et velit ullamcorper, viverra nibh vel, molestie neque. Donec pretium eros non nunc pulvinar aliquet.</p>
          </div>
          <div class="large-6 column">
            <div class="text-center"><img src="img/logo.png" class="sobre-top"></div>
          </div>
        </div>
        <div class="row">
          <div class="medium-4 column">
            <div id="side-nav" class="guia">
              <h2>Guia de como comprar</h2>
              <ul class="sobre-nav">
                <li class="current"><a href="">Como Buscar</a></li>
                <li><a href="">Como Buscar</a></li>
                <li><a href="">Como Buscar</a></li>
                <li><a href="">Como Buscar</a></li>
                <li><a href="">Como Buscar</a></li>
              </ul>
            </div>
            <div id="side-nav" class="cdl">
              <h2>O <strong>CDL</strong> Shopping</h2>
              <ul class="sobre-nav">
                <li class="current"><a href="">Como Buscar</a></li>
                <li><a href="">Como Buscar</a></li>
                <li><a href="">Como Buscar</a></li>
                <li><a href="">Como Buscar</a></li>
                <li><a href="">Como Buscar</a></li>
              </ul>
            </div>
          </div>
          <div class="medium-8 column">
            <div class="box">
              <h3>Como Buscar Produtos</h3>
              <div class="content">
                <div class="n-circle current">1</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum dolor sit amet mauris commodo, ac hendrerit lacus interdum. Etiam mollis leo et congue cursus.</p><img src="img/banner-como-1.jpg">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="show-for-medium-up">
      <div class="row steps">
        <div class="medium-12 column">
          <h3 class="title-steps">Como <strong>Comprar</strong> no shopping
            <div class="img-steps"><img src="img/steps.png"></div>
          </h3>
        </div>
      </div>
      <div class="row institucional">
        <div class="medium-12 large-8 column">
          <div class="clearfix inst-block-container">
            <div class="inst-block left">
              <div class="inst-title">O CDL <br /> SHOPPING</div>
              <ul class="inst-list">
                <li><a href="">Sobre</a></li>
                <li><a href="">Tenha a sua loja</a></li>
                <li><a href="">Diga-nos o que você acha</a></li>
                <li><a href="">Na mídia</a></li>
                <li><a href="">Termos de uso</a></li>
              </ul>
            </div>
            <div class="inst-block left">
              <div class="inst-title">Serviço de apoio <br />ao consumidor</div>
              <ul class="inst-list">
                <li><a href="">Entre em contato</a></li>
                <li><a href="">Perguntas Frequentes</a></li>
                <li><a href="">Proteção ao Consumidor</a></li>
                <li><a href="">Assine nossa Newsletter</a></li>
                <li><a href="">Minha Conta</a></li>
              </ul>
            </div>
            <div class="inst-block left">
              <div class="inst-title">Redes <br /> Sociais</div>
              <ul class="inst-list social">
                <li><a href=""><img src="img/facebook.png" /> Facebook</a></li>
                <li><a href=""><img src="img/youtube.png" /> You Tube</a></li>
                <li><a href=""><img src="img/twitter.png" /> Twitter</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="medium-6 column"><a href=""><img src="img/logo.png"></a></div>
            <div class="medium-6 column footer-desc">
              O shopping cdl é uma parceria entre
              lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam non.
            </div>
          </div>
        </div>
        <div class="large-4 column show-for-large-up">
          <div class="note">
            <div class="tape"></div>
            <div class="note-social-embeed"><iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FCDLShopping&amp;width&amp;height=346&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=419655808071325" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:346px;" allowtransparency="true"></iframe></div>
          </div>
        </div>
      </div>
      <div class="container-footer">
        <div class="row">
          <div class="column medium-12 clearfix">
            <div class="left"><img data-interchange="[img/pagamento-small.png,(default)], [img/pagamento-large.png,(large)]"></div>
            <div class="left navegue">
              <label>Navegue pelas lojas por aqui:
                <div class="city-selector">
                  <div class="selected">Florianópolis</div>
                  <div class="options">
                    <div class="option">São José</div>
                    <div class="option">Palhoça</div>
                    <div class="option">Biguaçu</div>
                    <div class="option">Curitiba</div>
                    <div class="option">São Paulo</div>
                  </div>
                </div>
              </label>
            </div>
            <div class="right"><img src="img/apoio-cdl.png"></div>
          </div>
        </div>
      </div>
    </footer>
    <footer class="show-for-small-only">
      <div class="row bottom-space">
        <div class="small-12 column text-center"><a href=""><img src="img/logo.png"></a></div>
      </div>
      <div class="row bottom-space social-networks">
        <div class="small-12 column text-center"><a href="" class="space-sides"><img src="img/facebook.png"></a><a href="" class="space-sides"><img src="img/youtube.png"></a><a href="" class="space-sides"><img src="img/twitter.png"></a></div>
      </div>
      <div class="row bottom-space navegue">
        <div class="small-12 column">
          <label>Navegue pelas lojas por aqui:
            <div class="city-selector">
              <div class="selected">Florianópolis</div>
              <div class="options">
                <div class="option">São José</div>
                <div class="option">Palhoça</div>
                <div class="option">Biguaçu</div>
                <div class="option">Curitiba</div>
                <div class="option">São Paulo</div>
              </div>
            </div>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column text-center">
          <div class="bottom-space"><img src="img/pagamento-small.png"></div>
          <div class="bottom-space"><img src="img/apoio-cdl.png"></div>
        </div>
      </div>
    </footer>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/cardcheck.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
